<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- see https://developer.apple.com/documentation/bundleresources/bundle-configuration for docs -->
<dict>
    <key>CFBundleShortVersionString</key>
    <string>16.3.0</string> <!--TODO verify on release -->
    <key>CFBundleVersion</key>
    <string>16.3.0</string> <!--TODO verify on release -->
    <key>NSHumanReadableCopyright</key>
    <string>© 2021–2024 Fenhl and contributors</string> <!--TODO verify on release -->

    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Mido's House Multiworld</string>
    <key>CFBundleExecutable</key>
    <string>multiworld-gui</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>house.midos.mw</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Multiworld</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSRequiresAquaSystemAppearance</key>
    <string>NO</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
</dict>
</plist>
