[Unit]
Description=Mido's House Ocarina of Time Randomizer multiworld server
Documentation=https://github.com/midoshouse/ootr-multiworld
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
ExecStart=/usr/local/share/midos-house/bin/ootrmwd
ExecStop=/usr/local/share/midos-house/bin/ootrmwd stop
User=mido
Group=nogroup
WorkingDirectory=/opt/git/github.com/midoshouse/ootr-multiworld/main

[Install]
WantedBy=multi-user.target
