[Unit]
Description=Mido's House Ocarina of Time Randomizer multiworld server
Documentation=https://github.com/midoshouse/ootr-multiworld
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
ExecStart=/home/fenhl/bin/ootrmwd
ExecStop=/home/fenhl/bin/ootrmwd stop
User=mido
Group=nogroup
WorkingDirectory=/opt/git/github.com/midoshouse/ootr-multiworld/master

[Install]
WantedBy=multi-user.target
