[Unit]
Description=Mido's House Ocarina of Time Randomizer multiworld server
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
TimeoutStartSec=30min
ExecStartPre=+/usr/bin/git pull
#TODO compile as part of release script
ExecStartPre=+sudo -u fenhl /home/fenhl/.cargo/bin/cargo build --release --package=ootrmwd
ExecStart=/opt/git/github.com/midoshouse/ootr-multiworld/master/target/release/ootrmwd
ExecStop=/opt/git/github.com/midoshouse/ootr-multiworld/master/target/release/ootrmwd stop
User=mido
Group=nogroup
WorkingDirectory=/opt/git/github.com/midoshouse/ootr-multiworld/master

[Install]
WantedBy=multi-user.target
